@import "tailwindcss";

/* BackDrop Filter */

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(35, 35, 35, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

/* Custom Scrollbar Styling */
.scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: #232323; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ff7171; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff8a8a; /* Color when hovering over the scrollbar thumb */
}
