@import "tailwindcss";

/* BackDrop Filter */

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(35, 35, 35, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
